* {  scroll-behavior: smooth;  }

body {   
    font-family: 'Open Sans', sans-serif;   
    font-weight: 400;
    font-size: 15px;
    background: #fff;
    color: #000;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased !important;
    margin: 0 !important;
}
.no-desktop { display: none;  }
.no-mobile { display: block; }
.colorgreen {  color: #8dc63f !important;  }
/* ------------------------------------------------
TYPOGRAPHY
--------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    color: #000;
    font-family: 'Open Sans', sans-serif; 
}
h1 {
    font-size: 42px;
    font-weight: 900;
    line-height: 46px;
}
h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
}
h3 {
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
}
/* --------------------------------------
LINK STYLE
------------------------------------------*/
a {
    color           : #000;
    text-decoration : none;
}
.animated { transition-duration: 500ms; }
a,
a:active,
a:focus,
a:active {
    text-decoration : none;
    outline         : none
}
a:hover,
a:focus {
    color: #000;
}
/* --------------------------------------------------
GENERAL
----------------------------------------------------- */
img {
	max-width: 100%
}
.alert {
	padding: 10px;
}
body { 
    width: 100%;  
}
/* ------------------------------------------------------------------
GLOBAL BUTTON STYLE
--------------------------------------------------------------------- */
/* --------------------------------------------------
LIST STYLE
----------------------------------------------------- */
ul { 
    margin: 0;   padding: 0;   list-style: none; 
}  


footer#aviso {
    background-color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    width: 100%;
    height: 100px;
    opacity: 0.9;
}
footer#aviso p {
    
    padding: 15px;
} 
footer#aviso button {
    background: red;
    padding: 0px 50px 34px 50px; 
    margin: 0 0 0 0;
    position: fixed;
    bottom: 36px;
    right: 50px;
    color: #fff;
} 